<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='' />
  </head>
  <body>
    
    <%- include('layout') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>TeeTime</h2>
  </body>
</html>
